

<div id="container">
<div id="piecesDiv"></div>
  <div id="mapDiv">
  <div>
  <div id="timer"></div>
  <div id="instructions"><p>Click and drag. Use arrows to rotate. </p></div>
  </div>

    <img src="<%= asset_path @map[:image] %>" class="map dropzone" id="actualmap">
  </div>


<% @pieces.each do |piece| %>

  <img src="<%= asset_path piece[:image] %>" class="pieces draggable drag-drop yes-drop" data="<%= [piece.x_cor, piece.y_cor] %>" data-desiredX="<%= piece.x_cor %>" data-desiredY="<%= piece.y_cor %>">

<% end %>
<div id="reloader">

</div>
</div>

